@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

.container {
  width: 65%;
  margin: auto;
}

a {
  color: #1c1c1c;
}
a.active {
  color: #0382f9;
  border-bottom: 4px solid #0382f9;
}

.top {
  background-color: #0382f9;
}
.top .container {
  display: flex;
  justify-content: flex-end;
}
.top .container span {
  color: white;
  font-size: 0.5rem;
  font-weight: 600;
  padding: 0.25rem 1rem;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
#navbar .logo img {
  width: 70px;
}
#navbar .nav_links a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1rem;
  font-size: 0.9rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}
#navbar .nav_search {
  border-bottom: 2px solid #0382f9;
}
#navbar .nav_search input {
  border-style: none;
  text-align: end;
  width: 100px;
}
#navbar .nav_search input::-moz-placeholder {
  color: #1c1c1c;
  font-weight: 800;
}
#navbar .nav_search input:-ms-input-placeholder {
  color: #1c1c1c;
  font-weight: 800;
}
#navbar .nav_search input::placeholder {
  color: #1c1c1c;
  font-weight: 800;
}

.jumbotron {
  position: relative;
  height: 65vh;
  background-image: url(../img/jumbotron.jpg);
  background-size: cover;
}
.jumbotron .series {
  position: absolute;
  bottom: -20px;
  left: 265px;
}
.jumbotron .series h2 {
  background-color: #0382f9;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0.5rem 1.5rem;
}

.comics_series {
  background-color: #1c1c1c;
  padding: 3rem 0;
}
.comics_series .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.comics_series .container .comic {
  max-height: 200px;
  width: calc(100% / 6 - 2rem);
  margin: 0 1rem;
}
.comics_series .container .comic img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  OBJECT-POSITION: top;
}
.comics_series .container .comic h4 {
  color: white;
  text-transform: uppercase;
}

#site_footer {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
}
#site_footer .container .footer_top {
  background-image: url(../img/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 2rem 0;
}
#site_footer .container .footer_top .menu_top {
  display: flex;
}
#site_footer .container .footer_top .menu_top .column {
  margin-right: 2rem;
}
#site_footer .container .footer_top .menu_top .column h3 {
  color: white;
  text-transform: uppercase;
}
#site_footer .container .footer_top .menu_top .column li {
  list-style: none;
}
#site_footer .container .footer_top .menu_top .column li a {
  text-decoration: none;
  color: #7d7e7a;
  font-size: 0.75rem;
}
#site_footer .container .footer_top .menu_bottom {
  width: 40%;
}
#site_footer .container .footer_top .menu_bottom p {
  color: #7d7e7a;
  font-size: 0.75rem;
}
#site_footer .footer_bottom {
  background-color: #303030;
}
#site_footer .footer_bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
#site_footer .footer_bottom .container .signup a {
  border: 2px solid #0382f9;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-weight: 800;
}
#site_footer .footer_bottom .container .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#site_footer .footer_bottom .container .socials a {
  color: #0382f9;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.25rem;
}
#site_footer .footer_bottom .container .socials img {
  margin-left: 1rem;
}
