* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "PT Sans Narrow", sans-serif;
}

.container {
    max-width: 65%;
    margin: auto;
}
.container_sm {
    max-width: 55%;
    margin: auto;
}
.col_3 {
    width: calc(100% / 4);
}
.col_6 {
    width: calc(100% / 2);
}

a {
    color: $dark_color;
    &.active {
        color: $primary_blue;
        border-bottom: 4px solid $primary_blue;
    }
}
.yellow {
    color: #acf09b;
}
