.thumb {
    position: absolute;
    display: inline-block;
    bottom: -35px;
    border: 1px solid white;
    img {
        height: 200px;
    }
    a {
        position: absolute;
        left: 0;
        bottom: 0;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.75rem;
        text-align: center;
        padding: 0.25rem;
        background-color: #23a9d9;
        display: block;
        width: 100%;
        &:hover {
            text-decoration: none;
        }
    }
}

.banner {
    background-color: $primary_blue;
    height: 50px;
    width: 100%;
}
.comic_details {
    padding: 2.5rem 0;
    .container_sm {
        display: flex;

        .col_left {
            width: 65%;
            padding-right: 1rem;
            h1 {
                text-transform: uppercase;
                font-size: 1.45rem;
                color: $dark_color;
                margin-bottom: 1rem;
            }

            .price_details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $bg_green;
                font-weight: 600;
                font-size: 0.9rem;
                color: white;
                .sell {
                    display: flex;
                    justify-content: space-between;
                    flex-grow: 1;
                    padding: 1rem;
                }
                .check_availability {
                    padding: 0.5rem;
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
        .col_right {
            width: 35%;
            padding-left: 0.5rem;
            h3 {
                text-transform: uppercase;
                text-align: right;
                font-size: 0.75rem;
                color: grey;
            }
            img {
                max-width: 100%;
            }
        }
    }
}

.comic_details_bottom {
    background-color: #f6f6f6;
    border-top: 1px solid #d8d8d8;
    .container_sm {
        display: flex;
        flex-wrap: wrap;
        h3 {
            margin: 1rem 0;
        }
        .artists,
        .writers,
        .series,
        .specs_price,
        .sales_date {
            display: flex;
            justify-content: space-between;
            font-size: 0.85rem;
            border-bottom: 1px solid $text_grey;
            padding: 1rem 0;
            .title {
                width: 60%;
            }
            .artists_details,
            .writers_details {
                color: $primary_blue;
            }
        }
        .artists,
        .series {
            border-top: 1px solid $text_grey;
        }

        .specs {
            padding-left: 1.5rem;
            .series {
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $primary_blue;
                    font-weight: 600;
                }
            }
        }
    }
    .dc_banner {
        margin-top: 6rem;
        width: 100%;

        border-top: 1px solid $text_grey;
        .col_3 {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0.5rem;
            text-transform: uppercase;
            width: calc(100% / 4);
            color: $text_grey;
            font-weight: 600;
            font-size: 0.8rem;
            border-left: 1px solid $text_grey;
            img {
                height: 40px;
            }
            &:last-child {
                border-right: 1px solid $text_grey;
            }
        }
    }
}
