*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: 'PT Sans Narrow', sans-serif;
}

.container{
    width: 65%;
    margin: auto;
}

a{
    color: $dark_color;
    &.active{

            color: $primary_blue;
            border-bottom: 4px solid $primary_blue;

    }
}


