.jumbotron{
    position: relative;
    height: 65vh;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    .series{
        position: absolute;
        bottom: -20px;
        left: 265px;
        h2{
            background-color: $primary_blue;
            color: white;
            text-transform: uppercase;
            font-weight: 800;
            padding: 0.5rem 1.5rem;

        }
    }
}
